# 01 - Data Cleaning
Load raw_dataset.csv, clean, and save cleaned_data.csv

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/raw_dataset.csv")

df.head()

,Previous_Score,Hours_Studied,Attendance,Assignments_Completed,Sleep_Hours,Participation,Final_Score,Pass_Fail
0,69.9,1.83,82.6,7,6.0,High,70.6,1
1,50.9,2.55,36.8,4,5.9,High,40.1,1
2,74.4,2.09,60.1,8,9.1,Medium,58.9,1
3,100.0,2.68,64.4,4,9.8,Medium,74.9,1
4,48.0,3.18,65.2,8,5.6,Medium,46.0,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Previous_Score         6000 non-null   float64
 1   Hours_Studied          6000 non-null   float64
 2   Attendance             6000 non-null   float64
 3   Assignments_Completed  6000 non-null   int64
 4   Sleep_Hours            6000 non-null   float64
 5   Participation          6000 non-null   object
 6   Final_Score            6000 non-null   float64
 7   Pass_Fail              6000 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 375.1+ KB

In [3]:
df.isnull().sum()

Previous_Score           0
Hours_Studied            0
Attendance               0
Assignments_Completed    0
Sleep_Hours              0
Participation            0
Final_Score              0
Pass_Fail                0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Participation'] = le.fit_transform(df['Participation'])

In [5]:
# Filling missing values based on column type

df['Hours_Studied'].fillna(df['Hours_Studied'].mean())
df['Attendance'].fillna(df['Attendance'].mean())
df['Previous_Score'].fillna(df['Previous_Score'].median())
df['Assignments_Completed'].fillna(df['Assignments_Completed'].median())
df['Sleep_Hours'].fillna(df['Sleep_Hours'].mean())

df['Participation'].fillna(df['Participation'].mode()[0])

df['Pass_Fail'].fillna(df['Pass_Fail'].mode()[0])

df.isnull().sum()

Previous_Score           0
Hours_Studied            0
Attendance               0
Assignments_Completed    0
Sleep_Hours              0
Participation            0
Final_Score              0
Pass_Fail                0
dtype: int64

In [6]:
df.drop_duplicates(inplace=True)

df.shape

(6000, 8)

In [7]:
df.to_csv("../data/cleaned_data.csv", index=False)
print("Cleaned dataset saved!")

Cleaned dataset saved!